name: Every 5 Days - First of Month Data   # Run every 5th day in case data is updated

on:
  schedule:
    - cron: '0 3 */5 * *' # Runs every 5th day at 03:00 UTC
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: |
          pip install beautifulsoup4 requests

      - name: Run first_of_month_data_lux.py
        run: python first_of_month_data_lux.py